= render 'shared/side_bar'

.main-contents
  .chat-group-infomation
    .infomation-content
      %p{class: "group-name"} グループ名
      %p{class: "members"} Members
    .infomation-edit
      %a{href: ""}Edit
  .show-message
    .message-content
      %h5{class: "message-content__name"}名前名前
      %span{class: "message-content__date"}2018/09/09 07:22:15
      %p{class: "message-content__text"}テキストテキストテキスト!!!!!!!!!!!!!!!!
  .post-message
    %input{:placeholder => "type a message" ,:class=> "post-message__form-area"}
      %label.upload-label{for: "upload-icon"}
        %i{class: "far fa-image"}
        %input{:type => "file", :id=> "upload-icon", :style => "display:none;"}
    %button{:type => "submit", :class => "send-button"}Send
