
$side-width: 300px;

.main-contents {
  width: calc( 100vw - #{$side-width});
  height: 100vh;
  float: right;
  position: relative;
   .chat-group-infomation {
    height: 96px;
    width: 100%;
    padding: 0 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;

     .infomation-content {
      float: left;
       .group-name {
        font-size: 20px;
        color: #333333;
        margin: 35px 0 15px 0;
       }
       .members {
        font-size: 12px;
        color: #999999;
       }
     }
     .infomation-edit{
      float: right;
       a {
        color: $blue;
        border: solid 1px $blue;
        line-height: 40px;
        display: block;
        padding: 0 20px;
        margin-top: 28px;
        text-decoration: none;
       }
     }
   }
   .show-message{
    height: calc( 100vh - 96px);
    width: 100%;
    padding: 0 40px;
    border: solid 1px #eeeeee;
    position: absolute;
    top: 96px;
    box-sizing: border-box;
     .message-content{
      padding-top: 46px;
       &__name{
        font-size: 18px;
        color: #434A54;
        font-weight: bold;
        margin-right: 10px;
        float:left;
       }
       &__date{
        font-size: 12px;
        color: #999999;
       }
       &__text{
        font-size: 14px;
        color: #434A54;
        clear: left;
        padding: 10px 0 40px 0;
       }
      }
     }
   .post-message{
     height: 90px;
     width: 100%;
     background-color:#AAAAAA;
     padding: 0 40px;
     position: absolute;
     bottom: 0;
     box-sizing: border-box;
     overflow: hidden;
         &__form-area{
           height: 50px;
           width: calc(100% - 130px);
           margin: 20px 15px 20px 0;
           padding: 0 15px 0 10px;
           float: left;
           position: relative;
           display: block;
         }
          .upload-label{
            height: 50px;
           position: absolute;
           right: 150px;
           top: 35px;
           }
        }
        .send-button{
          background-color: $blue;
          color: white;
          float: right;
          height: 50px;
          margin: 20px 0;
          padding: 0 20px;
          font-size: 16px;
        }


   }

