
$side-width: 300px;

.main-contents {
  width: calc( 100vw - #{$side-width});
  height: 100vh;
  float: right;
  position: relative;
   .chat-group-infomation {
    height: 96px;
    width: 100%;
    padding: 0 40px;
    float: right;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;

     .infomation-content {
      float: left;
       .group-name {
        font-size: 20px;
        color: #333333;
        margin: 35px 0 15px 0;
       }
       .members {
        font-size: 12px;
        color: #999999;
       }
     }
     .infomation-edit{
      float: right;
       a {
        color: $blue;
        border: solid 1px $blue;
        line-height: 40px;
        display: block;
        padding: 0 20px;
        margin-top: 28px;
        text-decoration: none;

       }
     }

   }
}
